body {
    /*background-image: url("../images/top.png");
    background-repeat: repeat;*/
    background-color: rgba(92, 92, 83, 0.678);
}

.gifSection {
    /*background-image: url("../images/bottom.png");
    background-repeat: repeat;*/
}


.gifDiv {
    font-size: 10px;
    float: left;
    margin: 2px;
    border: solid 2px black;
    height: 255px;
    width: 200px;
    background-color: rgb(224, 224, 224);
}

.gif {
    height: 200px;
    width: 196px;
}

.dlbtn {
    display: inline-block;
    float: left;
}

@media screen and (max-width: 464px) {
    .gifDiv {
        height: 155px;
        width: 100px;
    }
    
    .gif {
        height: 100px;
        width: 96px;
    }
  }